################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/0e0064c6-d722-4965-80d9-ee7fc779ce0f.vsidx
/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/61139194-48eb-43a5-b0fb-87868b6ec3ed.vsidx
/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/8757406d-9205-4cfa-a7ca-b1dfcb810943.vsidx
/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/96a920d9-6b3b-44c8-89f3-0fc31476b67b.vsidx
/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/b6ba772f-2c07-4617-be6b-b8f1ab6acb10.vsidx
/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/1e0db135-1da5-4ab5-8324-004dd9c33b3b.vsidx
/WebApi_MyBasicApp/.vs/WebApi_MyBasicApp/FileContentIndex/2a11e750-b351-493b-888f-d1a42af68088.vsidx
